p{
	font-family: arial;
}

body{
	background-color: orange;
}

header{
	border:2px solid black;
	background-color: yellow;
}

h1, h2, h3{
	font-family: arial;
	text-align: center;
}

.h2contactos{
	text-align:left;
}

.tamimgbig{
	width:350px;
	height:350px;
}

.tamimgsmall{
	width:30px;
	height:30px;
}

#fotos{
	text-align: center;
	float:bottom;
	margin-top: 20px;
	height:350px;
}

#informacion{
	border:2px solid black;
	float:bottom;
	margin-top: 20px;
	height: 800px;
	background-color: yellow;
}

#estudios{
	border:2px solid black;
	float:left;
	width:300px;
	height:400px;
	margin:20px;
	padding: 5px;
	background-color: yellow;
}

#hobbies{
	border:2px solid black;
	float:left;
	width:350px;
	height:700px;
	margin:20px;
	padding: 5px;
	background-color: yellow;
}
#carrera{
	border:2px solid black;
	float:left;
	width:300px;
	height:300px;
	margin:20px;
	padding: 5px;
	background-color: yellow;
}
#materias{
	border:2px solid black;
	float:left;
	width:300px;
	height:300px;
	margin:20px;
	padding: 5px;
	background-color: yellow;
}

.contenido{
	font-family: arial;
	text-align: justify;
}

footer{
	border:2px solid black;
	margin-top: 30px;
    height: 120px;
    background-color: yellow;
}

#contactos{
	float: left;
	text-align: center;
    margin: 0 5px 0 5px;
    width: 350px;
    padding-left: 10px;
}





